---
name: Github CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x

    - name: Restore npm cache
      id: node-cache
      uses: actions/cache@v4
      with:
        path: node_modules
        key: ${{ runner.os }}-node-0-${{ hashFiles('**/package-lock.json') }}

    - name: Install
      if: steps.node-cache.outputs.cache-hit != 'true'
      run: npm ci

    - name: Install Playwright browsers
      run: npx playwright install --with-deps

    - name: Lint commit messages
      uses: wagoid/commitlint-github-action@v6

    - name: ESLint
      run: npm run lint

    - name: Test
      env:
        SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
        SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
      run: |
        echo "::add-matcher::.github/problem-matcher.json"
        npm test

    - name: Semantic release
      run: npx semantic-release
      if: success()
      env:
        HUSKY: 0
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }} 